html {
    background-color: lightgray;
}

.header {
    text-align: center;
    padding: 20px;
    font-family: 'Gill Sans', Georgia, Times, serif;
    color: slategray;
}

/* The navigation bar container */
.topnav {
    overflow: hidden;
    font-family: 'Gill Sans', Georgia, Times, serif;
}

/* Navigation bar links */
.topnav a {
    float: center;
    display: block;
    color: slategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', Georgia, Times, serif;
}

/* Links - change color on hover */
.topnav a:hover {
    color: purple;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    color: purple;
}

/* Profile section */
.profile-bio {
    display: flex;
}

.profile-bio-content {
    margin-left: 5px;
    font-family: 'Gill Sans', Georgia, Times, serif;
    color: slategray;
    margin-top: 0;
}